<div class="jumbotron">
  <div class="container">
    <h1>第0回 MonaKuji Ticket Sheet</h1>
    このページのURLをブックマークしてください
  </div>
</div>

<div class="container">
  <h2>シート情報</h2>
  <table class="table">
    <tr><th>Sheet ID</th><td><%= @sheet.name %></td></tr>
    <tr><th>当選金受け取りアドレス</th><td><%= @sheet.payout_address %></td></tr>
    <tr><th>くじ数</th><td><%= @sheet.tickets.length %> 口</td></tr>
    <tr><th>金額</th><td><%= @sheet.price %> Mona</td></tr>
    <tr><th>支払い額</th><td><%= @sheet.paid_confirmed %> Mona 確認済 (未確認分 <%= @sheet.paid_unconfirmed %> Mona)</td></tr> 

    <% if !@sheet.paid? %>
      <tr>
      <th>支払いアドレス</th>
      <td><a href="monacoin:<%= @sheet.address %>?amount=<%= @sheet.price %>&label=Monakuji:%20<%= @sheet.name %>"><%= @sheet.address %></a><br>
        (このアドレスに <%= @sheet.price %> Mona を送金してください)
        <script type="text/javascript">setTimeout("location.reload()", 30000);</script>
      </td>
      </tr>
    <% end %>

    <% if @sheet.payout >= 0 %>
      <tr>
      <th>当選金総額</th>
      <td><span style="color: #f00; font-size: 16px"><%= @sheet.payout %> Mona</span>
        <% if @sheet.payouted == false %>
         (<a href="/payout/<%= @sheet.name %>">受け取る</a>)
       <% else %>
         (受取済み)
       <% end %>
      </td>
      </tr>
    <% end %>
  </table>

  <h2>くじ情報</h2>
  <% if @sheet.paid? %>
    <table class="table">
    <tr><th>くじ番号</th><th></th></tr>
    <% for ticket in @sheet.tickets %>
      <tr><td><%= ticket.number %></td><td><span style="color: #f00"><%= ticket.message %></span></tr>
    <% end %>
    </table>
  <% else %>
        支払いが全額確認されると表示されます(支払いが全額確認されるまでは有効になりません)。
  <% end %>

</div>
